@import 'global.css';

/* HEADER */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	height: 800px;
	background: #222 url('../img/homebg.jpg') no-repeat center 10%;
	background-size: cover;
}
.logoWrapp {
  width: 100%;
  padding-top: 20px;
}
.logo {
  display: block;
  background-image: url('../img/logo.png');
  background-size: cover;
  height: 57px;
  width: 142px;
}
.captionBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: -90px;
}
.header .title {
	font: 3.75rem Myriad Pro, Arial, sans-serif;
	color: white;
	text-align:center;
	padding: 0px;
	margin: 0px;
}
.header .subtitle {
	text-align:center;
	font: 1.25rem Myriad Pro, Arial, sans-serif;
	text-shadow: 0px 0px 20px black;
	color: white;
	padding: 0px;
	margin: 0px;
  margin-top: 30px;
  max-width: 52%;
}
.form {
  display: flex;
	justify-content: center;
	margin-top: 60px;
}
.form .input {
	height:	50px;
	width: 312px;
	padding-left: 20px;
	font-size: 1.3rem;
	border-radius: 25px 0px 0px  25px;
	border: none;
}
.form .input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.form .btn {
	margin-left: -4px;
	height:	52px;
	width: 168px;
	background-color: #20ab50;
	color: white;
	padding-left: 18px;
	font-size: 1.3rem;
	border-radius: 0px 25px 25px  0px;
	border: none;
}
.nav {
	position: absolute;
	top: 65%;
	right: 2%;
}
.nav .list-item {
	background:  url('../img/smallElips.png') no-repeat;
	width: 8px;
	height:	9px;
	margin-bottom: 15px;
	
}
.nav div:hover {
	background:  url('../img/bigElips.png') no-repeat;
	width: 12px;
	height:	12px;
	margin-bottom: 20px;
}
.nav a{
	display: block; 
    height: 100%;
}
li {
    list-style-type: none;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
  .header {
    height: 100vh;
  }
  .logoWrapp {
    padding-top: 10px;
  }
  .logo {
    width: 120px;
    height: 50px;
  }
  .captionBlock {
    top: -60px;
  }
  .header .subtitle {
    margin-top: 20px;
    max-width: 60%;
  }
  .form {
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }
  .header .title {
    font-size: 3rem;
  }
  .nav {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    padding-left: 0;
  }
  .captionBlock {
    top: 0;
  }
  .nav .list-item {
    margin: 10px 5px;
  }
  .form .input {
    width: 65%;
  }
  .form .btn {
    width: 35%;
  }
  .header .subtitle {
    max-width: 100%;
  }
}
